aiolimiter==1.1.0
cryptography==43.0.0
discord.py==2.7.1
sphinx==7.4.7
SQLAlchemy==2.0.31
typing_extensions>=4.15
git+https://github.com/redmvc/sparkqlalchemy.git#egg=sparkqlalchemy
# Uncomment one of the lines below and choose a version depending on which async SQL dialect your server will be using and make sure to use the correct one in your settings.json file
# aiomysql==0.2.0
# asyncpg==0.29.0
# aiosqlite==0.20.0
